<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head (pageTitle='MoviesApp | Detalle del Usuario')}"></head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <main>
        <div>
            <div class="card">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">

                    <ul class="list-group list-group-flush">  <!-- Usando list-group-flush -->
                        <li class="list-group-item"><strong>ID:</strong> <span th:text="${usuario.idUsuario}"></span></li>
                        <li class="list-group-item"><strong>Nombre:</strong> <span th:text="${usuario.nombre}"></span></li>
                        <li class="list-group-item"><strong>Clave:</strong> <span th:text="${usuario.clave}"></span></li>
                        <li class="list-group-item"><strong>Correo:</strong> <span th:text="${usuario.correo}"></span></li>
                        <li class="list-group-item"><strong>Roles:</strong>
                            <ul class="list-unstyled"> <!-- Usando list-unstyled -->
                                <li th:each="rol : ${usuario.roles}" th:text="${rol.authority}"></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="card-footer">
                  <a th:href="@{/usuarios/listado}" class="btn btn-secondary btn-sm">Volver al listado de usuarios</a>
                </div>
            </div>
        </div>
    </main>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>