:root {
    --background-color: #ffffff;
    --text-color: #413d3d;
    --header-color: #d6c1d5;
    --background-color-aside: #2c2c2c;
    --background-color-nav: #ffffff;
    --accent-color: #d1b9ce;
    --primary-color: #03dac6;
    --secondary-color: #3700b3;
    --error-color: #cf6679;
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

nav {
    background-color: var(--background-color-nav);
    max-height: 10vh;
}

main {
    padding-top: 10vh;
  }