<!-- src/main/resources/templates/edit-movie.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head (pageTitle='MoviesWeb | Edit Movie')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="content">
    <main>
        <div class="container mt-5 pt-5">
            <h1>Edit Movie</h1>
            <form th:action="@{/movies/update}" th:object="${movie}" method="post" enctype="multipart/form-data">
                <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                    Please correct the following errors:
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="hidden" name="_method" value="put" />
                <input type="hidden" th:field="*{id}" />
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                </div>
                
                <div class="mb-3">
                    <label for="director" class="form-label">Director</label>
                    <input type="text" class="form-control" id="director" th:field="*{director}" required>
                </div>
                
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" th:field="*{genre}" required>
                </div>
                
                <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input type="number" class="form-control" id="year" th:field="*{year}" required>
                </div>
                
                <div class="mb-3">
                    <label for="synopsis" class="form-label">Synopsis</label>
                    <textarea class="form-control" id="synopsis" th:field="*{synopsis}" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="synopsis" class="form-label">Duration</label>
                    <textarea class="form-control" id="synopsis" th:field="*{duration}" rows="3" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-control" id="country" th:field="*{country}" required>
                        <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.countryName}"></option>
                    </select>
                </div>
                
                <!-- <div class="mb-3">
                    <label for="coverImage" class="form-label">Cover Image</label>
                    <input type="file" class="form-control-file" id="coverImage" name="coverImage">
                    <img th:src="@{${movie.coverImage}}" alt="Movie Cover" class="img-thumbnail mt-2" style="width: 150px; height: auto;">
                </div> -->

                <div class="mb-3">
                    <label for="actors" class="form-label">Add Actors</label>
                    <div class="d-flex justify-content-between align-items-center">
                        <select class="form-select" multiple aria-label="Multiple select example" id="actors" name="actors" required>
                            <option th:each="actor : ${actors}" 
                                    th:value="${actor.id}" 
                                    th:text="${actor.name}">
                            </option>
                        </select>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
                <a th:href="@{/movies}" class="btn btn-secondary">Cancel</a>                
            </form>
        </div>
    </main>
</div>
<!-- Include the modal fragments -->
<div th:insert="~{/modal/modal-error :: modal-error }"></div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>