<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head (pageTitle='MoviesWeb | Home Page')}"></head>
<body>
<!-- <header th:replace="~{fragments/header :: header}"></header> -->
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main th:fragment="content">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://bucket.lucantel.es/public/banner_moviesweb.jpg" class="d-block w-100" alt="banner">
          </div>
          <div class="carousel-item">
            <img src="https://bucket.lucantel.es/public/banner_2.png" class="d-block w-100" alt="banner">
          </div>
          <div class="carousel-item">
            <img src="https://bucket.lucantel.es/public/banner_moviesweb.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Movie Grid -->
    <div class="container mt-5">
        <h2>Movies</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="movie : ${movies}">
                <div class="card h-100">
                    <img th:src="@{${movie.coverImage}}" class="card-img-top" alt="Movie Cover">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.title}">Movie Title</h5>
                        <p class="card-text" th:text="${movie.synopsis}">Movie Synopsis</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/movies/details/{id}(id=${movie.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <nav th:replace="~{paginator-nav :: paginator}"></nav>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:insert="~{/modal/modal-error :: modal-error }"></div>
</body>
</html>
