<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head th:replace="~{fragments/head :: head (pageTitle='MoviesApp | Gestión de Calificaciones de Películas')}"></head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <main>
        <div>
            <div class="card">
                <h2 class="card-header">Gestión de Calificaciones de Películas</h2>
                <div class="card-body">
                    <p class="card-text">Aquí puede gestionar las calificaciones de las películas.</p>

                    <!-- Barra de búsqueda Combinada -->
                    <form th:action="@{/rates/search}" method="get" class="mb-3">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="input-group">
                                    <div class="input-group-text">Buscar por:</div>
                                    <select class="form-select" name="searchType">
                                        <!-- <option value="rating">Rating</option>
                                        <option value="movieTitle">Título de Película</option> -->
                                        <option value="user">Usuario</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">
                                <input type="text" class="form-control" placeholder="Ingrese su búsqueda" name="query">
                            </div>
                            <div class="col-md-auto">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Título de la Película</th>
                            <th>Usuario</th>
                            <th>Rating</th>
                            <th>Reseña</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="rate : ${rates}">
                            <td th:text="${rate.movieTitle}"></td>
                            <td th:text="${rate.username}"></td>
                            <td th:text="${#numbers.formatDecimal(rate.value, 1, 1)}"></td>
                            <td th:text="${rate.comments}"></td>                                
                            <td>
                                <form sec:authorize="hasRole('ROLE_ADMIN')"
                                      th:action="@{/rates/delete/{id}(id=${rate.idRate})}" method="post"
                                      onsubmit="return confirm('¿Está seguro de que desea eliminar esta calificación?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav th:replace="~{paginator-nav :: paginator}"></nav>

                    <a th:href="@{/admin}" class="btn btn-secondary btn-sm">Volver al Panel de Administración</a>
                </div>
            </div>
        </div>
    </main>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>